* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #212121;
  --foreground-color: #47484B;
  --link-color: #A5A5A5;
  --primary-text-color: #E7E7E7;
  --secondary-text-color: #C7C7C7;
  --highlight-color: #7B1F90;
  --toggle-bg: #E3E3E3;
  --toggle-fg: #7B1F90;
}

[data-theme="light"] {
  --background-color: #E3E3E3;
  --foreground-color: #BDBDBD;
  --link-color: #5E5E5E;
  --primary-text-color: #2A2A2A;
  --secondary-text-color: #424242;
  --highlight-color: #7B1F90;
  --toggle-bg: #212121;
  --toggle-fg: #7B1F90;
}