* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #212121;
  --foreground-color: #47484B;
  --link-color: #A5A5A5;
  --primary-text-color: #E7E7E7;
  --secondary-text-color: #C7C7C7;
  --button-text-color: #2A2A2A;
  --highlight-color: #A96ACB;
  --toggle-bg: #E3E3E3;
  --toggle-fg: #A96ACB;
  --button-bg: #C7C7C7;
  --button-hover-bg: #E7E7E7;

  --fs-xxl: clamp(2.5rem, 5vw + 1rem, 6rem);
  --fs-xl: clamp(1.8rem, 5vw + 1rem, 5rem);
  --fs-l: clamp(1rem, 2vw + 1rem, 3rem);
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
}

[data-theme="light"] {
  --background-color: #E3E3E3;
  --foreground-color: #BDBDBD;
  --link-color: #5E5E5E;
  --primary-text-color: #2A2A2A;
  --secondary-text-color: #424242;
  --button-text-color: #E7E7E7;
  --highlight-color: #A96ACB;
  --toggle-bg: #212121;
  --toggle-fg: #A96ACB;
  --button-bg: #2A2A2A;
  --button-hover-bg: #424242;
}

/* #7B1F90 */