#aboutContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: calc(30px + 1.5625vw);
    padding-left: calc(6px + 1.5625vw);
    padding-right: calc(6px + 1.5625vw);
    margin-inline: auto;
}

@media screen and (max-width: 600px){
    #aboutContent{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}

#textContent {
    max-width: 400px;
    margin-right: calc(15px + 1.5625vw);
}

#educationContainer {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-inline: auto;
    padding-right: 3em;
    padding-left: 3em;
}

.educationContent {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    background-color: var(--foreground-color);
    border: 1px solid var(--link-color);
    border-radius: 10px;
}

.aboutImg {
    display: block;
    border-radius: 50px;
    width: 100%;
    max-width: 300px;
    height: auto;
}