ul {
    display: flex;
    flex-direction: row;
    width: 20cm;
    list-style: none;
}

.link {
    text-decoration: none;
    color: var(--link-color);
}

.link:hover {
    color: var(--highlight-color);
    cursor: pointer;
}

/* .active {
    background-color: #A87C54;
    height: 100%;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
    cursor: default;
    border-radius: 5px;
} */

.active {
    text-decoration: none;
    pointer-events: none;
    cursor: default;
    opacity: 0.7;
}

/* ul li {
    margin-right: 20px;
    border-right: 1px solid #A5A5A5;
}

ul li:last-child {
    border-right: 0;
} */

#separator {
    margin-right: 20px;
    height: 20px;
    margin-left: 15px;
    border-right: 1px solid var(--link-color);
}

nav {
    position: fixed;
    background-color: var(--foreground-color);
    margin: 0;
    height: 5%;
    width: 100%;
    padding: .1px 0;
}

.navWrapper {
    height: 100%;
    color: var(--highlight-color);
    border-bottom: 2px solid var(--highlight-color);
}