#titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-inline: auto;
    background-color: var(--background-color);
    margin-top: 3rem;
}

.titleContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#firstName {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-xxl);
    color: var(--primary-text-color);
    margin-bottom: -1rem;
    text-shadow: 2px 2px var(--highlight-color);
}

#lastName {
    font-size: var(--fs-xl);
    margin-top: 0px;
    color: var(--highlight-color);
    text-shadow: 2px 2px var(--primary-text-color);
}

.titles {
    font-size: var(--fs-l);
    margin-bottom: -1rem;
    margin-top: 0.3rem;
    color: var(--primary-text-color);
    text-shadow: 2px 2px var(--highlight-color);
    max-width: 400px;
}

.titles:first-child {
    margin-top: 0;
}

.titles:last-child {
    margin-bottom: 0;
    color: var(--highlight-color);
    text-shadow: 2px 2px var(--primary-text-color);
}